extends dashboard

block content
  body
    .login.well
      h1  Add Players to a Squad for a Season
      hr
      form(id='add-squad-player-form', method='POST', action='/addSquadPlayer' novalidate)
        .form-group
          select
            each clubplayer, i in clubplayers
              option(value=i) #{clubplayer.firstname} #{clubplayer.lastname}
          button.btn Add
        .form-group
          ul
              each squadplayer in squadplayers
                  //create a new well for each recipe model
                  .well
                      h2 #{squadplayer.firstname} #{squadplayer.lastname}
                      h3 #{squadplayer.position}
                      h3 #{squadplayer.phone}
        .form-group
          button.btn.btn-default Save
          
        include messages

