extends layout

block content
  h1 Player List
  hr  
  include messages
  div
    table(name="PlayerListTable", id="PlayerListTable")
        thead
            tr
                th DOB
                th Address
                th Postcode
                th Phone
                th Email
        tbody
            -each player in players
                tr
                    td=player.dob
                    td=player.address
                    td=player.postcode
                    td=player.phone
                    td=player.email
